/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* variables */
@import './variables.css';

/* wrapper */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  overflow-x: hidden;
}
