:root {
  /* color */
  --color-primary: #2563eb;
  --color-primary-background: #e5e7eb;
  --color-primary-content: #fff;
  --color-primary-text: #333;
  --color-primary-border: #9ca3af;

  /* space */
  --spacing-1: 20px;
  --spacing-2: 30px;

  /* size */
  --size-small: 14px;
}
